<template>
    <div>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group
                id="input-group-1"
                label="Email address:"
                label-for="input-1"
                description="We'll never share your email with anyone else.">

                <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="email"
                    name="email"
                    required
                    placeholder="Enter email">
                </b-form-input>
                <b-form-input
                    id="input-2"
                    name="password"
                    v-model="form.password"
                    required
                    placeholder="Password">
                </b-form-input>

            </b-form-group>
            <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
    </div>

</template>

<script>



import {mapActions} from 'vuex';
    export default {
        name: "Login",
        data() {
            return {
                form: {
                    email: '',
                    password: null,
                },
                foods: [{text: 'Select One', value: null}, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
                show: true
            }
        },

        created() {
          console.log(this.$store.state)
        },
        methods: {

...mapActions(['signIn']),

            async onSubmit(evt) {
                evt.preventDefault()
                this.signIn(this.form)
            },


                onReset(evt) {
                    evt.preventDefault()
                    // Reset our form values
                    this.form.email = ''
                    this.form.name = ''
                    this.form.food = null
                    this.form.checked = []
                    // Trick to reset/clear native browser form validation state
                    this.show = false
                    this.$nextTick(() => {
                        this.show = true
                    })
                }
            },

    }
</script>

<style scoped>

</style>
