<template>

    <div>
        <section class="banner-area relative">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen align-items-center justify-content-between" style="height: 1179px;">
                    <div class="col-lg-6 col-md-6 banner-left">
                        <h1 class="text-white">Group Travel Flight Booking</h1>
                        <h4 class="text-white mb-2"><span class="lnr lnr-chevron-right"></span> Search for a destination
                        </h4>
                        <h4 class="text-white mb-2"><span class="lnr lnr-chevron-right"></span> Enter dates</h4>
                        <h4 class="text-white mb-2"><span class="lnr lnr-chevron-right"></span> Add your group</h4>
                        <h4 class="text-white"><span class="lnr lnr-chevron-right"></span> Book flights</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 banner-right">

                        <searchForm></searchForm>

                    </div>
                </div>
            </div>
        </section>


        <section class="price-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center"><h1 class="mb-10">FAQ</h1>
                            <p>Lorem ipsum dorem et velor dorem ipsum lorem velor dorem ipsum.</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-price"><h4>Europe</h4>
                            <ul class="price-list">
                                <li class="d-flex justify-content-between align-items-center"><span>New York</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" :location="'JFK'" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Maldives</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Sri Lanka</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Nepal</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Thiland</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Singapore</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-price"><h4>Long Haul</h4>
                            <ul class="price-list">
                                <li class="d-flex justify-content-between align-items-center"><span>New York</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Maldives</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Sri Lanka</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Nepal</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Thiland</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Singapore</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-price"><h4>United States</h4>
                            <ul class="price-list">
                                <li class="d-flex justify-content-between align-items-center"><span>New York</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Maldives</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Sri Lanka</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Nepal</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Thiland</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                                <li class="d-flex justify-content-between align-items-center"><span>Singapore</span> <a
                                    href="#" class="price-btn">£1500</a><a href="" class="btn-info btn btn-sm">View Flights</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</template>

<script>
export default {
    props:['location'],
    name: "MainPage"
}
</script>

<style scoped>

</style>
