<template>
    <div>
        <section class="relative price-area " style="background: #4cbdd6;">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen align-items-center justify-content-between" style="height: 498px;">

                    <div class="col-lg-12 col-md-12 banner-right mt-5">
                        <searchForm></searchForm>
                    </div>


                </div>
            </div>
        </section>
        <section class="price-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-12">
                        <div class="col-lg-12 col-md-12 banner-right">
                            <b-tabs content-class=" p-3">
                                <div v-for="(Details,index) in this.ReturnResuts">
                                    <div class="form-wrap">
                                        <h1 v-show="index == 0"> Return Results </h1>
                                        <b-tab v-if="Details.data" :title="'Group '+index +''" :active="index == 0"
                                               class="title" style="background-color: #f8b600;">
                                            <div v-if="Details.data">
                                                <div class="row">
                                                    <h3>Group {{ index + 1 }}<span
                                                        class="small"> Passengers: {{ Details.search_params.seats.passengers }}</span><span
                                                        class="small"> Adults: {{ Details.search_params.seats.adults }}</span>
                                                        <span
                                                            class="small"> Children: {{ Details.search_params.seats.children }}</span>
                                                    </h3>
                                                </div>

                                                <div v-for="(flight,i) in Details.data">

                                                    <div class="card p-4 mb-2">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <h3><span
                                                                            class="float-left">{{ flight.cityFrom }}</span>
                                                                        </h3>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span
                                                                            class="float-left">{{ flight.flyFrom }}</span>
                                                                    </div>
                                                                    <div class="col-12">

                                                                        <span><b>{{ flight.route[0].dTimeUTC | dateTmeFormat }}</b></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="text-center">

                                                                    <!--   <i class="fas fa-exchange-alt fa-4x"></i>-->
                                                                </div>

                                                            </div>
                                                            <div class="col-5">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <h3><span
                                                                            class="float-right">{{ flight.cityTo }}</span>
                                                                        </h3>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span
                                                                            class="float-right">{{ flight.flyTo }}</span>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span
                                                                            class="float-right"><b>{{ flight.route[0].aTimeUTC | dateTmeFormat }}</b></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="badge badge-secondary"> </span>

                                                        <hr>
                                                        <a :href="flight.deep_link" target="_blank"
                                                           class="primary-btn text-uppercase text-center text-white">£{{ flight.price }}
                                                            | Book Now</a>

                                                    </div>


                                                </div>
                                            </div>
                                            <div v-else>
                                                <h2>No Return Results Found </h2>
                                            </div>
                                        </b-tab>
                                    </div>
                                </div>
                            </b-tabs>

                            <b-tabs content-class=" p-3" pills card>
                                <div v-for="(Details,index) in this.OneWayResuts">
                                    <div class="form-wrap">
                                        <h1 v-show="index == 0"> One Way Results </h1>

                                        <b-tab v-if="Details.data" :title="'Group '+index" :active="index == 0"
                                               style="background-color: #f8b600;">
                                            <div v-if="Details.data">
                                                <div class="row">
                                                    <h3>Group {{ index + 1 }}<span
                                                        class="small"> Passengers: {{ Details.search_params.seats.passengers }}</span><span
                                                        class="small"> adults: {{ Details.search_params.seats.adults }}</span>
                                                        <span
                                                            class="small"> Children: {{ Details.search_params.seats.children }}</span>
                                                    </h3>
                                                </div>

                                                <div v-for="(flight,i) in Details.data">

                                                    <div class="card p-4 mb-2">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <h3><span
                                                                            class="float-left">{{ flight.cityFrom }}</span>
                                                                        </h3>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span
                                                                            class="float-left">{{ flight.flyFrom }}</span>
                                                                    </div>
                                                                    <div class="col-12">

                                                                        <span><b>{{ flight.route[0].dTimeUTC | dateTmeFormat }}</b></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="text-center">

                                                                    <!--   <i class="fas fa-exchange-alt fa-4x"></i>-->
                                                                </div>

                                                            </div>
                                                            <div class="col-5">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <h3><span
                                                                            class="float-right">{{ flight.cityTo }}</span>
                                                                        </h3>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span
                                                                            class="float-right">{{ flight.flyTo }}</span>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span
                                                                            class="float-right"><b>{{ flight.route[0].aTimeUTC | dateTmeFormat }}</b></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="badge badge-secondary"> </span>

                                                        <hr>
                                                        <a :href="flight.deep_link" target="_blank"
                                                           class="primary-btn text-uppercase text-center text-white">£{{ flight.price }}
                                                            | Book Now</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else>
                                                <h2>No Return Results Found </h2>
                                            </div>
                                        </b-tab>

                                    </div>
                                </div>
                            </b-tabs>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</template>

<script>
import SearchForm from "../components/frontend/searchForm";
import Results_button from "../components/frontend/results_button";
import {EventBus} from "../Eventbus/event-bus"

var moment = require('moment'); // require
export default {
    name: "ResultsPage",
    components: {Results_button, SearchForm},
    data() {
        return {
            ReturnResuts: [],
            OneWayResuts: [],
        }
    },
    filters: {
        dateTmeFormat(data) {
            return moment.unix(data).format('DD/MM/YYYY H:mm');
        },
        DDMMYYYY(data) {
            return moment(data).format('DD/MM/YYYY H:mm');
        }
    },
    mounted() {
        this.getGroups();
        EventBus.$on('i-got-clicked', () => {
            this.getGroups();
        });
    },

    methods: {
        getGroups() {


            this.ReturnResuts = []
            this.OneWayResuts = []

            let returnTips = this.$store.getters['search/returnTips']
            let oneWayTrips = this.$store.getters['search/oneWayTrips']

            for (let [index, val] of returnTips.entries()) {
                if (index > 0) {
                    this.apiCallReturn(val, 'round')
                }
            }

            for (let [index, val] of oneWayTrips.entries()) {
                if (index > 0) {
                    this.apiCallOnwWay(val, 'oneway')
                }
            }


        },

        apiCallReturn(GroupDetails, flytype) {

            let to = this.$store.getters['search/destination']
            let leaveDate = this.$store.getters['search/leaveDate']
            let returnDate = this.$store.getters['search/returnDate']
            let from = GroupDetails.departFrom;
            let adults = GroupDetails.adults;
            ;
            let child = GroupDetails.child;
            ;
            let a = moment(leaveDate);
            let b = moment(returnDate);
            let nightsindest = b.diff(a, 'days');


            let params =
                {
                    'flyFrom': from,
                    'to': to,
                    'dateFrom': moment(leaveDate).format('DD/MM/YYYY'),
                    'dateTo': moment(returnDate).format('DD/MM/YYYY'),
                    'partner': 'christhewolfpalfly',
                    'adults': adults,
                    'children': child,
                    'flight_type': flytype,
                    'nights_in_dst_to': nightsindest,
                    'nights_in_dst_from': nightsindest,
                    'v': '3',
                    'curr': 'GBP',
                    'limit': '10'
                }

            if (params.to == '') {
                delete params.to;
            }

            this.callApi(params, 'return');


        },
        apiCallOnwWay(GroupDetails, flytype) {

            this.OneWayResuts = [];

            let to = this.$store.getters['search/destination']
            let leaveDate = this.$store.getters['search/leaveDate']
            let from = GroupDetails.departFrom;
            let adults = GroupDetails.adults;
            let child = GroupDetails.child;
            let a = moment(leaveDate).format('DD/MM/YYYY');


            let params =
                {
                    'flyFrom': from,
                    'to': to,
                    'dateFrom': moment(leaveDate).format('DD/MM/YYYY'),
                    'partner': 'christhewolfpalfly',
                    'adults': adults,
                    'children': child,
                    'flight_type': flytype,
                    'v': '3',
                    'curr': 'GBP',
                    'limit': '10'
                }

            if (!params.to) {
                delete params.to;
            }


            this.callApi(params, 'oneway');

        },
        callApi(params, type) {

            axios.get('https://api.skypicker.com/flights', {params: params}, {
                'Content-Type': 'application/json',
                'apikey': 'sBS6kGsyoL44eXkGQNkdVpuhGNd0twuq',
            })
                .then((response) => {
                    if (type == 'oneway') {
                        return this.OneWayResuts.push(response.data)
                    } else {
                        return this.ReturnResuts.push(response.data)
                    }
                });

        },


    },
    computed: {}
}
</script>

<style scoped>
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #6d6d6d;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #f8b600;
}
</style>
