<template>
    <div class="container">
        <div class="row justify-content-center">
            <router-link to="/app/example">Test</router-link>
           <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name:'Example',
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
