<template>
    <div id="wrapper" v-if="checkAuth">
        <sidebar></sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <topbar></topbar>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <router-view></router-view>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; apyGroup Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

</template>
<script>
import {createNamespacedHelpers} from 'vuex';
const {mapActions,} = createNamespacedHelpers('auth');
    export default {
        name: "page",
        props:['token','user'],
        computed:{
            checkAuth:function () {
             return   this.$store.getters['auth/authenticated']
            }
        },
        mounted: function () {
            this.$store.dispatch("auth/me",[{'user':this.user,'token':this.token}]);
        }
    }
</script>

<style scoped>

</style>
