<template>


    <div>
        <h3>Profile</h3>


            <b-row>
                <b-col cols="4">
                    <b-card header="Profile Settings">
                        <b-list-group>
                            <b-list-group-item :active="selected == 'edit-profile'"  @click="selected = 'edit-profile'">Profile</b-list-group-item>
                            <b-list-group-item :active="selected == 'edit-password'" @click="selected = 'edit-password'">Password</b-list-group-item>
                            <b-list-group-item :active="selected == 'user-manager'"  @click="selected = 'user-manager'">User Manager</b-list-group-item>
                        </b-list-group>
                    </b-card>
                </b-col>

            <b-col cols="8">
                <b-card
                tag="article"
                style="max-width: 100%"
                class="mb-2">
                    <edit-profile v-show="selected == 'edit-profile'"></edit-profile>
                    <edit-password v-show="selected == 'edit-password'"></edit-password>
                </b-card>
            </b-col>
        </b-row>



    </div>


</template>

<script>
    import EditProfile from "./profile/editProfile";
    import EditPassword from "./profile/editPassword";
    export default {
        name: "Profile",
        components: {EditPassword, EditProfile},
        data(){
            return{
                selected:'edit-profile'
            }
        }
    }
</script>

<style scoped>

</style>
