<template>
    <div>
        <h2>Change Password</h2>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group
                id="input-group-1"
                label="New Password:"
                label-for="input-1"
            >
                <b-form-input
                    id="input-1"
                    v-model="form.password"
                    type="password"
                    required
                    placeholder="Enter new password"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Confirm Password:" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.password_confirmation"
                    type="password"
                    required
                    placeholder="confirm password"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Save</b-button>
            <b-button type="reset" variant="danger">Cancel</b-button>
        </b-form>
    </div>
</template>

<script>
    export default {
        name: "editPassword",
        data() {
            return {
                form: {
                    password: '',
                    password_confirmation: '',
                },
                show: true
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()

                if(this.form.password == this.form.password_confirmation){
                    alert(JSON.stringify(this.form))
                }else {
                    alert('password does not match')
                }

            },
            onReset(evt) {
                evt.preventDefault()
                // Reset our form values
                this.form.password = ''
                this.form.password_confirmation = ''
                // Trick to reset/clear native browser form validation state
                this.show = false
                this.$nextTick(() => {
                    this.show = true
                })
            }
        }

    }
</script>

<style scoped>

</style>
