<template>
    <div >
        <div  class="row mt-2" :class="oneWay ? 'oneway'+this.option.key+'':'return'+this.option.key+''" :id="this.option.key">
            <div class="col-md-5">
                <b-form-group   label-for="tags-validation">
                    <vue-tags-input
                        placeholder="Depart from..."
                       	v-model="tag"
                        :max-tags="1"
                        :autocomplete-items="apiReturn"
                        :add-only-from-autocomplete="true"
                        @tags-changed="SelectedDepartureUpdate"
                    />
                </b-form-group>
            </div>

            <div class="col-md-3">
				
                <input @input="commitToStore" type="number" min="1" max="20" class="form-control" name="adults" placeholder="Adults" v-model="adult" required>
				<label>Adults</label>
            </div>
            <div class="col-md-3">
				
                <input @input="commitToStore"  type="number" min="0" max="20" class="form-control" name="child" placeholder="Children" v-model="child" required>
				<label>Children</label>

            </div>
            <div class="col-md-1">
                <a  class="btn btn-outlined btn-sm " @click="remove()"> <span class="lnr lnr-circle-minus"></span></a>
            </div>
        </div>

    </div>

</template>
<script>

    import VueTagsInput from '@johmun/vue-tags-input';

    export default {
        name: "DAC_component",
        props:{
            option: Object
        },
        components:{
            VueTagsInput,
        },
        data(){
            return{
                adult:'1',
                child:'0',
                departFrom:'',
				tag:'',
				search:'',
                oneWay:this.option.oneWay,
                apiReturn:[],
                tags: [],
                newid:'',
                groupsReturning:'',
                groupsOneWay:'',

                temp:''
            }
        },
        watch: {
            'tag':'departFromApi',
        },
        mounted() {
            this.PopulateGroupSearch()
            this.generateSearchFields()
            },
        methods: {

            remove() {
                if (this.oneWay == false) {
                    this.$store.dispatch('search/RemoveReturningGroup', this.option.key);
                    this.$store.dispatch('search/CheckFormReturn')
                    $(".return" + this.option.key).fadeOut('slow', function () {

                    });
                } else {
                    this.$store.dispatch('search/RemoveOneWayGroup', this.option.key)
                    this.$store.dispatch('search/CheckFormOneway')
                    $(".oneway" + this.option.key).fadeOut('slow', function () {

                    })
                }


            },
            update(newTags) {
                this.apiReturn = [];
                this.tags = newTags;
                console.log(newTags)
                this.departFromApi()

            },
            departFromApi() {

                if (this.tag.length < 2) return;
                const url = 'https://kiwicom-prod.apigee.net/locations/query?term=' + this.tag + '&locale=en_GB&location_types=airport&limit=5&active_only:=true&sort=name';
                clearTimeout(this.debounce);
                this.isLoading = true
                this.debounce = setTimeout(() => {
                    const headers = {
                        'Content-Type': 'application/json',
                        'apikey': 'sBS6kGsyoL44eXkGQNkdVpuhGNd0twuq'
                    };
                    axios.get(url, {headers}).then(response => {
                        const apidata = [];
                        return this.apiReturn = response.data.locations.map(a => {
                            return {text: a.code + '-' + a.name};
                        });
                    }).catch(() => console.warn('Oh. Something went wrong'));
                }, 600);
                this.$store.dispatch('search/CheckFormReturn')
                this.$store.dispatch('search/CheckFormOneway')

            },
			
            SelectedDepartureUpdate(DepartFrom) {
				
                this.departFrom = DepartFrom[0].text;
                this.commitToStore()
            },
			
            commitToStore() {
                if (this.departFrom.length > 2 && this.child != '' && this.adult != '') {
                    let from = this.departFrom.substring(0, this.departFrom.indexOf('-'));
                    if (this.newid != '') {
                        this.$store.dispatch('search/AmendGroupToReturn', {
                            'departFrom': from,
                            'adults': this.adult,
                            'child': this.child,
                            key: this.newid
                        })
                        this.$store.dispatch('search/AmendGroupToOneWay', {
                            'departFrom': from,
                            'adults': this.adult,
                            'child': this.child,
                            key: this.newid
                        })
                    } else {

                        this.newid = this.option.rand
                        if (this.oneWay == false) {
                            this.$store.dispatch('search/addGroupToReturn', {
                                'departFrom': from,
                                'adults': this.adult,
                                'child': this.child,
                                'key': this.option.rand
                            })
                        } else {
                            this.$store.dispatch('search/addGroupToOneWay', {
                                'departFrom': from,
                                'adults': this.adult,
                                'child': this.child,
                                'key': this.option.rand
                            })
                        }
                    }
                }



            },
            PopulateGroupSearch() {
                if (this.option.rand && this.oneWay == false) {
                        let trips =   this.$store.getters['search/returnTips']
                        trips.filter((item)=>{
                                // console.log(item+ "  "+this.option.rand);
                                if(item.key == this.option.rand){
                                    //console.log('MATCH '+this.option.rand);
                                    this.departFrom = item.departFrom
									this.tag = item.departFrom
                                    this.adult = item.adults
                                    this.child = item.child
                                }

                        });


                }else {

                    let trips =   this.$store.getters['search/oneWayTrips']
                    trips.filter((item)=>{
                        // console.log(item+ "  "+this.option.rand);
                        if(item.key == this.option.rand){
                            // console.log('MATCH '+this.option.rand);
                            this.departFrom = item.departFrom
							this.tag = item.departFrom
                            this.adult = item.adults
                            this.child = item.child
                        }

                    });

                }
            },

            generateSearchFields(){
                let returnTrips =  this.$store.getters['search/returnTips'].length
                let oneway =  this.$store.getters['search/oneWayTrips'].length
                if(returnTrips-1 >0){this.groupsReturning = returnTrips-1 }
                if(oneway-1 >0){ this.groupsOneWay = oneway-1}

            }
        },
        computed: {

        },

    }
</script>



