<template>
    <div>

        <b-form-datepicker size="sm" local="en" :id="this.type" v-model="value" :min="min" :max="max"
                           :input="validationCheck()"></b-form-datepicker>
        {{ value }} {{this.type}}
    </div>
</template>

<script>
export default {
    name: "datePicker",
    props: ['type'],
    data() {
        const now = new Date()
        const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())

        const minDate = new Date(today)
        minDate.setMonth(minDate.getMonth())
        minDate.setDate(minDate.getDate())

        return {
            value: '',
            min: minDate,
            max: '',
        }
    },
    mounted() {
        this.populate()
    },
    methods: {
        populate() {
            if (this.type == 'departDate') {
                this.value = this.$store.getters['search/leaveDate']
            }
            //checking if not one way trip
            if (this.type == 'returnDate') {
                this.min = this.minDate.setDate(today)
                this.value = this.$store.getters['search/returnDate']
            }
        },
        setDates() {

            if (this.type == 'departDate') {
                this.$store.dispatch('search/DepartureDate', this.value)
            }
            //checking if not one way trip
            if (this.type == 'returnDate') {
                this.$store.dispatch('search/ReturnDate', this.value)
            }

        },
        validationCheck() {

            this.$store.dispatch('search/CheckFormReturn')
            this.$store.dispatch('search/CheckFormOneway')
        }
    }
}
</script>

<style scoped>

</style>
