<template>
    <div class="form-group row mb-3">
        <div class="col-md-12">
            <label><span class="lnr lnr-map-marker"></span> Destination (Leave blank for our suggestion)</label>
            <vue-tags-input
                placeholder=" Destination"
                v-model="destination"
                :max-tags="1"
                :autocomplete-items="apiReturn"
                :add-only-from-autocomplete="true"
                @tags-changed="SelectedDepartureUpdate"
            />
        </div>
    </div>
</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';
    export default {
        name: "destination",
        components:{
            VueTagsInput,
        },
        data(){
            return {
                destination:'',
                apiReturn:[],
                tags: [],
            }
        },
        watch: {
            'destination': 'destinationApi',
        },
        mounted() {

            this.destination = this.$store.getters['search/destination']

            },
        methods:{
            destinationApi(){

                if(this.destination) {
                    const url = 'https://kiwicom-prod.apigee.net/locations/query?term='+this.destination+'&locale=en_GB&location_types=airport&limit=5&active_only:=true&sort=name';
                    clearTimeout(this.debounce);
                    this.debounce = setTimeout(() => {
                        const headers = {
                            'Content-Type': 'application/json',
                            'apikey': 'sBS6kGsyoL44eXkGQNkdVpuhGNd0twuq'
                        };
                        axios.get(url, {headers}).then(response => {
                            const apidata = [];
                            return  this.apiReturn =  response.data.locations.map(a => {
                                return { text: a.code+'-'+a.name };
                            });
                        }).catch(() => console.warn('Oh. Something went wrong'));
                    }, 600);

                    this.$store.dispatch('search/CheckFormReturn')
                    this.$store.dispatch('search/CheckFormOneway')
                }


            },
            SelectedDepartureUpdate(destination){
                this.destination = destination[0].text;
                this.commitToStore()
            },

            commitToStore(){
                if(this.destination.length > 2){
                    let from = this.destination.substring(0, this.destination.indexOf('-'));
                    this.$store.dispatch('search/Destination',from)}

            }
        }


    }
</script>

<style scoped>

</style>
