<template>
    <div class="">
        <div class="form-group row">
            <div class="col-12 mb-3">
                <div class="float-left">
                    <b-button :to="{ name: 'results'}" :disabled="!this.checkFormReturn"  @click="reSearch()" class="primary-btn m-0 btn-sm text-uppercase">Search flights </b-button>
                </div>
                <div class="float-right">
                    <b-link  class=" text-uppercase">Clear Search</b-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "results_button",
        methods:{
            reSearch(){

            }
        },
        computed:{

            checkFormReturn(){
                if(this.option.oneWay){
                    console.log('return')
                    return  this.$store.getters['search/validedOneWayForm'];
                }else{
                    console.log('one way')
                    return  this.$store.getters['search/validedForm'];
                }

            },




        }
    }
</script>

<style scoped>

</style>
