<template>
    <div class="form-wrap">
        <b-tabs content-class=" p-3">
            <b-tab title="Return Flights" :active="activeReturn">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label><span class="lnr lnr-map-marker"></span> Add departure airports for the group</label>
                        <DAC_component v-for="(item,index)  in this.groupsReturning" :key="index"
                                       :option="{oneWay:false,key:index,rand:index+1}"></DAC_component>

                    </div>
                    <a class="btn btn-outlined btn-sm " @click="increment(false)"> <span
                        class="lnr lnr-plus-circle"></span> Add Departure Airport </a>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="ex1"><span class="lnr lnr-calendar-full"></span> Departure Date</label>
                        <!--                        <date-picker :type="'departDate'" :oneway="'false'"></date-picker>-->
                        <b-form-datepicker size="sm" local="en" v-model="depart_date" :min="depart"
                                           :input="validationCheck()" trip_type="departDate"></b-form-datepicker>
                        {{ depart_date }} {{this.trip_type}}

                    </div>

                    <div class="col-md-6">
                        <label for="ex2"><span class="lnr lnr-calendar-full"></span> Return Date</label>
                        <b-form-datepicker size="sm" local="en" v-model="return_date" :min="this.depart_date"
                                           :input="validationCheck()" trip_type="returnDate"></b-form-datepicker>
                        {{ return_date }}
                        <!--                        <date-picker :type="'returnDate'" :oneway="'true'"></date-picker>-->
                    </div>
                </div>
                <destination></destination>
                <search_button :option="{oneWay:false}"></search_button>

            </b-tab>
            <b-tab title="One way Flights" :active="activeOneway">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label><span class="lnr lnr-map-marker"></span> Add departure airports for the group</label>
                        <DAC_component v-for="(item,index) in this.groupsOneWay" :key="index"
                                       :option="{oneWay:true, key:index, rand: index+1}"></DAC_component>
                    </div>
                </div>
                <a class="btn btn-outlined btn-sm " @click="increment(true)"> <span class="lnr lnr-plus-circle"></span>
                    Add Departure Airport </a>
                <div class="form-group row">
                    <div class="col-md-12">
                        <hr>
                        <div class="col-md-12">
                            <label for="ex1"><span class="lnr lnr-calendar-full"></span> Departure Date</label>
                            <b-form-datepicker size="sm" local="en" v-model="departDateOneWay" :min="depart_date"
                                               :input="validationCheck()" trip_type="departDate"></b-form-datepicker>

                            <!--                        <date-picker :type="'departDate'"  oneway="true"></date-picker>-->
                        </div>
                        <destination></destination>
                        <search_button :option="{oneWay:true}"></search_button>
                    </div>
                </div>


            </b-tab>
        </b-tabs>

    </div>
</template>

<script>
import DAC_component from "./DAC_component";
import DatePicker from "./datePicker";
import destination from "./destination";
import Search_button from "./search_button";

export default {
    name: "searchForm",
    components: {Search_button, DatePicker, DAC_component, destination},
    data() {

        const now = new Date()
        const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())

        const minDate = new Date(today)
        minDate.setMonth(minDate.getMonth())
        minDate.setDate(minDate.getDate())

        return {
            depart_date: '',
            return_date: '',
            departDateOneWay: '',
            depart: minDate,
            max: this.depart_date,
            return: '',
            groupsReturning: 1,
            groupsOneWay: 1,
            activeReturn: this.$store.getters['search/validedForm'],
            activeOneway: this.$store.getters['search/validedOneWayForm'],
            trip_type: this.trip_type
        }

    },

    mounted() {
        this.generateSearchFields()
        this.populate()
    },
    watch:{
        setDates() {

            if (this.trip_type === 'departDate') {
                this.$store.dispatch('search/DepartureDate', this.value)
            }
            //checking if not one way trip
            if (this.trip_type === 'returnDate') {
                this.$store.dispatch('search/ReturnDate', this.value)
            }

        }
    },
    methods: {
        getGroups() {
            this.generateSearchFields()
        },

        increment(value) {
            if (value) {
                return this.groupsOneWay++
            } else {
                return this.groupsReturning++
            }
        },
        generateSearchFields() {

            let returnTrips = this.$store.getters['search/returnTips'].length
            let oneway = this.$store.getters['search/oneWayTrips'].length
            if (returnTrips - 1 > 0) {
                this.groupsReturning = returnTrips - 1
            }
            if (oneway - 1 > 0) {
                this.groupsOneWay = oneway - 1
            }

        },
        populate() {
            if (this.trip_type === 'departDate') {
                console.log('hehehe');
                this.value = this.$store.getters['search/leaveDate']
            }
            //checking if not one way trip
            if (this.trip_type === 'returnDate') {
                console.log('hehehe');
                this.value = this.$store.getters['search/returnDate']
            }
        },
        validationCheck() {

            this.$store.dispatch('search/CheckFormReturn')
            this.$store.dispatch('search/CheckFormOneway')
        }
    },


}
</script>

<style scoped>

</style>
