<template>
    <div class="">
        <div class="form-group row">
            <div class="col-12 mb-3">
                <div class="float-left">
                    <b-button :to="{ name: 'results'}" :disabled="!this.checkFormReturn"  @click="getGroups()" class="primary-btn m-0 btn-sm text-uppercase">Search flights </b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from "../../Eventbus/event-bus"
    export default {
        name: "search_button",
        props:['option'],
        methods:{
               getGroups(){
                   EventBus.$emit('i-got-clicked');
                   this.$parent.getGroups
               },
        },
        mounted() {

            },
        computed:{


            checkFormReturn(){
                if(this.option.oneWay){
                    console.log('return')
                    return  this.$store.getters['search/validedOneWayForm'];
                }else{
                    console.log('one way')
                    return  this.$store.getters['search/validedForm'];
                }

            },




        }
    }
</script>

<style scoped>

</style>
