<template>

</template>
<script>
    export default {
        name: "frontend_layout",
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
            drawerRight: null,
            right: false,
            left: false,
        }),
    }
</script>

<style scoped>

</style>
